* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  position: relative;
}
header {
  background-color: cornflowerblue;
  padding: 2rem 0;
  text-align: center;
}
header h1 {
  font-size: 3rem;
  padding: 1rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  min-height: 90dvh;
}
#button button {
  background-color: #fff;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
}
#button button:hover {
  color: #fff;
  background-color: cornflowerblue;
  border: 2px solid #000;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
#form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
form {
  background-color: cornflowerblue;
  padding: 2rem;
  border: 2px solid #000;
  border-radius: 5px;
}
form input {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}
form select {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 5px;
}
form button {
  padding: 1rem;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
form button:hover {
  color: #fff;
  background-color: cornflowerblue;
  border: 2px solid #fff;
}
#form-display {
  background-color: cornflowerblue;
  padding: 2rem;
  border: 2px solid #000;
  border-radius: 5px;
}
#form-display span {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 5px;
  height: 4rem;
  padding: 2rem;
  font-size: 2rem;
}
#calculator {
  width: 35rem;
  height: 47rem;
  border: 4px solid #000;
  border-radius: 5px;
  background-color: cornflowerblue;
}
#screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 5px;
  height: 10rem;
  margin: 2rem;
  padding: 2rem;
  font-size: 5rem;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 7rem);
  justify-content: center;
  gap: 1rem;
}
#keys span {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  width: 7rem;
  height: 7rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#keys span:hover {
  color: #fff;
  background-color: cornflowerblue;
  border: 1px solid #fff;
}
footer {
  background-color: cornflowerblue;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
